{% extends 'base.html.twig' %}

{% block title %}Porównywanie audytów{% endblock %}

{% block body %}
<div class="bg-gray-800 pt-3">
        <div class="rounded-tl-3xl bg-gradient-to-r from-blue-900 to-gray-800 p-4 shadow text-2xl text-white">
          <h3 class="font-bold pl-2">Audyt dla domeny: <a href="https://{{ audit2Data.domain }}">{{ audit2Data.domain }}</a></h3>
        </div>
</div>

<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
{# Audyt 1 #}
<div class="container">   
    <div class="bg-gradient-to-b from-indigo-200 to-indigo-100 border-4 border-indigo-500 rounded-lg shadow-xl p-5 m-4"> 
        <div class="rounded-full p-5 bg-indigo-600 mb-2 text-center"><h3 class="font-bold text-xl md:text-3xl text-white">Dane podstawowe</h3></div>
        <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p><span class="font-bold">Data wykonania audytu:</span> {{audit1Data.data.data.auditDateTime}}</p>
        </div>
        <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p><span class="font-bold">Favicon:</span> {{audit1Data.data.data.favicon}}</p>
        </div>
        <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p><span class="font-bold">Adres IP serwera:</span> {{audit1Data.data.data.ipAddress}}</p>
        </div>
        <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p><span class="font-bold">Przekierowanie IP serwera na domenę:</span> 
                {% if audit1Data.data.data.ipRedirection == 'true' %}
                jest ustawione
                {% else %}
                nie jest ustawione
                {% endif %}</p>
        </div>
        <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p><span class="font-bold">Certyfikat SSL:</span> 
            {% if audit1Data.data.data.sslCertificate == 'true' %}
                jest
            {% else %}
                brak
            {% endif %}</p>
        </div>
        <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p><span class="font-bold">Przekierowanie na https:</span> 
            {% if audit1Data.data.data.httpsRedirection == 'true' %}
                jest ustawione
            {% else %}
                nie jest ustawione
            {% endif %}
            </p>
        </div>
        <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p><span class="font-bold">Przekierowanie WWW:</span> 
            {% if audit1Data.data.data.wwwRedirection == 'true' %}
               <p><span class="font-bold">  www.{{ audit1Data.data.data.domain }} => {{ audit1Data.data.data.domain }}</p> 
            {% else %}
                <p><span class="font-bold"> {{ audit1Data.data.data.domain }} => www.{{ audit1Data.data.data.domain }}</p> 
            {% endif %}
            </p>
        </div>
        <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p><span class="font-bold">Przekierowanie index.html / index.php:</span> 
            {% if audit1Data.data.data.indexesRedirection.indexPhpStatus == 'true' %}
               <p>{{ audit1Data.data.data.domain }}/index.php => {{ audit1Data.data.data.domain }}</p> 
            {% else %}
               <p>{{ audit1Data.data.data.domain }}/index.php =/> {{ audit1Data.data.data.domain }}</p> 
            {% endif %}
            {% if audit1Data.data.data.indexesRedirection.indexHtmlStatus == 'true' %}
               <p>{{ audit1Data.data.data.domain }}/index.html => {{ audit1Data.data.data.domain }}</p> 
            {% else %}
                <p>{{ audit1Data.data.data.domain }}/index.html =/> {{ audit1Data.data.data.domain }}</p> 
            {% endif %}
            </p>
        </div>
    </div>
    <div class="bg-gradient-to-b from-indigo-200 to-indigo-100 border-4 border-indigo-500 rounded-lg shadow-xl p-5 m-4"> 
        <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
        <div class="rounded-full p-5 bg-indigo-600 mb-2 text-center"><h3 class="font-bold text-xl md:text-3xl text-white">Przystępność dla robotów</h3></div>
            <p><span class="font-bold">Plik robots.txt: </span>
            {% if audit1Data.data.data.robotsTxt.exists == 'true' %}
                jest
            {% else %}
                brak
            {% endif %}</p>
            <p><span class="font-bold">Dyrektywa Sitemap:</span> {% if audit1Data.data.data.robotsTxt.hasSitemapDirective == 'true' %}
                 jest
            {% else %}
                 brak
            {% endif %}</p>
            <p><span class="font-bold">Meta robots:</span> {{audit1Data.data.data.robots}}</p>
        </div>
        <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p><span class="font-bold">Plik sitemap.xml: </span>
            {% if audit1Data.data.data.sitemap == 'true' %}
                jest <a href="https://{{audit1Data.data.data.domain}}/sitemap.xml">link</a>
            {% else %}
                brak
            {% endif %}</p>
        </div>
    </div>
    <div class="bg-gradient-to-b from-indigo-200 to-indigo-100 border-4 border-indigo-500 rounded-lg shadow-xl p-5 m-4"> 
            <div class="rounded-full p-5 bg-indigo-600 mb-2 text-center"><h3 class="font-bold text-xl md:text-3xl text-white">Metadane i treści</h3></div>
            <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p><span class="font-bold">Tytuł strony:</span> {{audit1Data.data.data.title}}</p>
            <p><span class="font-bold">Liczba znaków:</span> {{audit1Data.data.data.title|length}}</p>
            </div>
            <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p><span class="font-bold">Opis strony:</span> {{audit1Data.data.data.description}}</p>
            <p><span class="font-bold">Liczba znaków: </span>
            {% if audit1Data.data.data.description == "brak" %}
                0
            {% else %}
            {{audit1Data.data.data.description|length}}
            {% endif %}</p>
            </div>
            <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p><span class="font-bold">Słowa kluczowe:</span> {{audit1Data.data.data.keywords}}</p>
            </div>
            <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p><span class="font-bold">Liczba wystąpień nagłówków:</span></p>
            {% if audit1Data.data.data.headerCounts == 'false'%}
                brak nagłówków na stronie
            {% else %}
            <ul>
                {% for tag, count in audit1Data.data.data.headerCounts %}
                    <li>{{ tag }}: {{ count }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            </div>
            <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
                <p><span class="font-bold">Nagłówki unikatowe:</span> {% if audit1Data.data.data.headersUnique == 'false' %} nie {% else %} tak {% endif %}</p>
            </div>
            <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p><span class="font-bold">Wszystkie nagłówki na stronie:</span></p>
            <p><span class="font-bold">Liczba wystąpień nagłówków:</span></p>
            {% if audit1Data.data.data.headers == 'false'%}
                brak nagłówków na stronie
            {% else %}
            <ul>
                {% for header in audit1Data.data.data.headers %}
                    <li>{{ header.tag }}: {{ header.text }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            </div>
    <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
        <p><span class="font-bold">Obrazy bez atrybutu alt:</span></p>
        <ul>
            {% for imageSrc in audit1Data.data.data.missingAltImages %}
                <li>{{ imageSrc }}</li>
            {% endfor %}
        </ul> 
    </div> 
    <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
        <p><span class="font-bold">Określenie języka strony:</span> {{ audit1Data.data.data.lang }}</p>
        <p><span class="font-bold">Kodowanie strony:</span> {{ audit1Data.data.data.charset }}</p>
    </div>
    <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
        <p><span class="font-bold">RDFa:</span> {{ audit1Data.data.data.rdfa }}</p>
        <p><span class="font-bold">Mikrodane:</span> {{ audit1Data.data.data.microdata }}</p>
    </div>
    <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
        <p><span class="font-bold">Obecność technologii flash:</span> {{audit1Data.data.data.flash}}</p>
    </div>
    <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
        <p><span class="font-bold">Obecność iFrame: {{audit1Data.data.data.frame}}</p>
    </div>
    <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
        <p><span class="font-bold">Inline CSS:</span> {{audit1Data.data.data.inlineCSS}}</p>
    </div>
    </div>
<div class="bg-gradient-to-b from-indigo-200 to-indigo-100 border-4 border-indigo-500 rounded-lg shadow-xl p-5 m-4"> 
        <div class="rounded-full p-5 bg-indigo-600 mb-2 text-center"><h3 class="font-bold text-xl md:text-3xl text-white">Dane PageSpeed Insights</h3></div>
        <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p><span class="font-bold">Meta viewport:</span> {{ audit1Data.data.data.viewport }}</p>
        </div>
        <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p><span class="font-bold">
            {% if audit1Data.data.dataPageSpeed.mobile <= 49 %}
                Strona wymaga poprawy na urządzeniach mobilnych.
            {% else %}
                Strona jest użyteczna na urządzeniach mobilnych.
            {% endif %}
            </p></span>
            <p><span class="font-bold">Prędkość ładowania mobile:</span> {{ audit1Data.data.dataPageSpeed.mobile }}</p>
        </div>
        <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p><span class="font-bold">
            {% if audit1Data.data.dataPageSpeed.desktop <= 49 %}
                Strona wymaga poprawy na komputerach stacjonarnych.
            {% else %}
                Strona jest użyteczna na komputerach stacjonarnych.
            {% endif %}
            </p></span>
            <p><span class="font-bold">Prędkość ładowania desktop:</span> {{ audit1Data.data.dataPageSpeed.desktop }}</p>
        </div>
        <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p><span class="font-bold">Core Web Vitals Mobile:</span></p>
                <ul>
                    <li>First Contentful Paint: {{ audit1Data.data.dataPageSpeed.metrics.mobile.firstContentfulPaint }}</li>
                    <li>Speed Index: {{ audit1Data.data.dataPageSpeed.metrics.mobile.speedIndex }}</li>
                    <li>Time to Interactive: {{ audit1Data.data.dataPageSpeed.metrics.mobile.timeToInteractive }}</li>
                    <li>First Meaningful Paint: {{ audit1Data.data.dataPageSpeed.metrics.mobile.firstMeaningfulPaint }}</li>
                </ul>
        </div>
        <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p><span class="font-bold">Core Web Vitals Desktop:</p>
                <ul>
                    <li>First Contentful Paint: {{ audit1Data.data.dataPageSpeed.metrics.desktop.firstContentfulPaint }}</li>
                    <li>Speed Index: {{ audit1Data.data.dataPageSpeed.metrics.desktop.speedIndex }}</li>
                    <li>Time to Interactive: {{ audit1Data.data.dataPageSpeed.metrics.desktop.timeToInteractive }}</li>
                    <li>First Meaningful Paint: {{ audit1Data.data.dataPageSpeed.metrics.desktop.firstMeaningfulPaint }}</li>
                </ul>
        </div>   
    </div>
<div class="bg-gradient-to-b from-indigo-200 to-indigo-100 border-4 border-indigo-500 rounded-lg shadow-xl p-5 m-4"> 
            <div class="rounded-full p-5 bg-indigo-600 mb-2 text-center"><h3 class="font-bold text-xl md:text-3xl text-white">Linkowanie</h3></div>
            <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p><span class="font-bold">Lista wewnętrznych linków:</span></p>
            <ul>
                {% for link in audit1Data.data.data.internalLinks %}
                    <li>{{ link }}</li>
                {% endfor %}
            </ul>
            </div>
            <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
                <p><span class="font-bold">Najdłuższy url:</span> {{ audit1Data.data.data.maxLenghtInlinks }} znaków</p>
            </div>
            <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
                <p><span class="font-bold">Linki przyjazne wyszukiwarce: </span>
                     {% if audit1Data.data.data.friendlyLinks %}
                        tak
                    {% else %}
                        nie</p>
                        <p><span class="font-bold">Lista nieprzyjaznych linków:</span> 
                    <ul>
                        {% for link in audit1Data.data.data.friendlyLinks %}
                            <li>{{ link }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}</p> 
            </div>
            <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p><span class="font-bold">Lista linków wychodzących:</span></p>
            {% if audit1Data.data.data.outLinks == 'false' %}
                brak linków wychodzących
            {% else %}
            <ul>
                {% for link in audit1Data.data.data.outLinks %}
                    <li>{{ link.href }} {% if link.rel is not null %} Rel: {{link.rel}} {% endif %}</li>
                {% endfor %} 
            </ul>
            {% endif %}
            </div>
            <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
             <p><span class="font-bold">Kod Google Analytics:</span> 
             {% if audit1Data.data.data.googleAnalytics == 'false' %}
                brak
            {% else %}
                jest
            <ul>
                {% for code in audit1Data.data.data.googleAnalytics %}
                    <li>{{ code }}</li>
                {% endfor %}
            </ul>
            {% endif %}</p>   
            </div>
        </div>
    </div>
    {# Audyt 2 #}
    <div class="container">
      <div class="bg-gradient-to-b from-indigo-200 to-indigo-100 border-4 border-indigo-500 rounded-lg shadow-xl p-5 m-4"> 
        <div class="rounded-full p-5 bg-indigo-600 mb-2 text-center"><h3 class="font-bold text-xl md:text-3xl text-white">Dane podstawowe</h3></div>
        <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p><span class="font-bold">Data wykonania audytu:</span> {{audit2Data.data.data.auditDateTime}}</p>
        </div>
        <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p><span class="font-bold">Favicon:</span> {{audit2Data.data.data.favicon}}</p>
        </div>
        <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p><span class="font-bold">Adres IP serwera:</span> {{audit2Data.data.data.ipAddress}}</p>
        </div>
        <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p><span class="font-bold">Przekierowanie IP serwera na domenę: </span>
                {% if audit2Data.data.data.ipRedirection == 'true' %}
                jest ustawione
                {% else %}
                nie jest ustawione
                {% endif %}</p>
        </div>
        <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p><span class="font-bold">Certyfikat SSL: </span>
            {% if audit2Data.data.data.sslCertificate == 'true' %}
                jest
            {% else %}
                brak
            {% endif %}</p>
        </div>
        <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p><span class="font-bold">Przekierowanie na https: </span>
            {% if audit2Data.data.data.httpsRedirection == 'true' %}
                jest ustawione
            {% else %}
                nie jest ustawione
            {% endif %}
            </p>
        </div>
        <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p><span class="font-bold">Przekierowanie WWW: </span>
            {% if audit2Data.data.data.wwwRedirection == 'true' %}
               <p><span class="font-bold">  www.{{ audit2Data.data.data.domain }} => {{ audit2Data.data.data.domain }}</p> 
            {% else %}
                <p><span class="font-bold"> {{ audit2Data.data.data.domain }} => www.{{ audit2Data.data.data.domain }}</p> 
            {% endif %}
            </p>
        </div>
        <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p><span class="font-bold">Przekierowanie index.html / index.php: </span>
            {% if audit2Data.data.data.indexesRedirection.indexPhpStatus == 'true' %}
               <p>{{ audit2Data.data.data.domain }}/index.php => {{ audit2Data.data.data.domain }}</p> 
            {% else %}
               <p>  {{ audit2Data.data.data.domain }}/index.php =/> {{ audit2Data.data.data.domain }}</p> 
            {% endif %}
            {% if audit2Data.data.data.indexesRedirection.indexHtmlStatus == 'true' %}
               <p> {{ audit2Data.data.data.domain }}/index.html => {{ audit2Data.data.data.domain }}</p> 
            {% else %}
                <p> {{ audit2Data.data.data.domain }}/index.html =/> {{ audit2Data.data.data.domain }}</p> 
            {% endif %}
            </p>
        </div>
    </div>
    <div class="bg-gradient-to-b from-indigo-200 to-indigo-100 border-4 border-indigo-500 rounded-lg shadow-xl p-5 m-4"> 
        <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
        <div class="rounded-full p-5 bg-indigo-600 mb-2 text-center"><h3 class="font-bold text-xl md:text-3xl text-white">Przystępność dla robotów</h3></div>
            <p><span class="font-bold">Plik robots.txt: </span>
            {% if audit2Data.data.data.robotsTxt.exists == 'true' %}
                jest
            {% else %}
                brak
            {% endif %}</p>
            <p><span class="font-bold">Dyrektywa Sitemap:</span> {% if audit2Data.data.data.robotsTxt.hasSitemapDirective == 'true' %}
                 jest
            {% else %}
                 brak
            {% endif %}</p>
            <p><span class="font-bold">Meta robots:</span> {{audit2Data.data.data.robots}}</p>
        </div>
        <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p><span class="font-bold">Plik sitemap.xml: </span>
            {% if audit2Data.data.data.sitemap == 'true' %}
                jest <a href="https://{{audit2Data.data.data.domain}}/sitemap.xml">link</a>
            {% else %}
                brak
            {% endif %}</p>
        </div>
    </div>
    <div class="bg-gradient-to-b from-indigo-200 to-indigo-100 border-4 border-indigo-500 rounded-lg shadow-xl p-5 m-4"> 
            <div class="rounded-full p-5 bg-indigo-600 mb-2 text-center"><h3 class="font-bold text-xl md:text-3xl text-white">Metadane i treści</h3></div>
            <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p><span class="font-bold">Tytuł strony:</span> {{audit2Data.data.data.title}}</p>
            <p><span class="font-bold">Liczba znaków:</span> {{audit2Data.data.data.title|length}}</p>
            </div>
            <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p><span class="font-bold">Opis strony:</span> {{audit2Data.data.data.description}}</p>
            <p><span class="font-bold">Liczba znaków: </span>
            {% if audit2Data.data.data.description == "brak" %}
                0
            {% else %}
            {{audit2Data.data.data.description|length}}
            {% endif %}</p>
            </div>
            <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p><span class="font-bold">Słowa kluczowe:</span> {{audit2Data.data.data.keywords}}</p>
            </div>
            <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p><span class="font-bold">Liczba wystąpień nagłówków:</span></p>
            {% if audit2Data.data.data.headerCounts == 'false'%}
                brak nagłówków na stronie
            {% else %}
            <ul>
                {% for tag, count in audit2Data.data.data.headerCounts %}
                    <li>{{ tag }}: {{ count }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            </div>
            <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
                <p><span class="font-bold">Nagłówki unikatowe:</span> {% if audit2Data.data.data.headersUnique == 'false' %} nie {% else %} tak {% endif %}</p>
            </div>
            <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p><span class="font-bold">Wszystkie nagłówki na stronie:</span></p>
            <p><span class="font-bold">Liczba wystąpień nagłówków:</span></p>
            {% if audit2Data.data.data.headers == 'false'%}
                brak nagłówków na stronie
            {% else %}
            <ul>
                {% for header in audit2Data.data.data.headers %}
                    <li>{{ header.tag }}: {{ header.text }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            </div>
    <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
        <p><span class="font-bold">Obrazy bez atrybutu alt:</span></p>
        <ul>
            {% for imageSrc in audit2Data.data.data.missingAltImages %}
                <li>{{ imageSrc }}</li>
            {% endfor %}
        </ul> 
    </div> 
    <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
        <p><span class="font-bold">Określenie języka strony:</span> {{ audit2Data.data.data.lang }}</p>
        <p><span class="font-bold">Kodowanie strony:</span> {{ audit2Data.data.data.charset }}</p>
    </div>
    <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
        <p><span class="font-bold">RDFa:</span> {{ audit2Data.data.data.rdfa }}</p>
        <p><span class="font-bold">Mikrodane:</span> {{ audit2Data.data.data.microdata }}</p>
    </div>
    <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
        <p><span class="font-bold">Obecność technologii flash:</span> {{audit2Data.data.data.flash}}</p>
    </div>
    <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
        <p><span class="font-bold">Obecność iFrame:</span> {{audit2Data.data.data.frame}}</p>
    </div>
    <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
        <p><span class="font-bold">Inline CSS:</span> {{audit2Data.data.data.inlineCSS}}</p>
    </div>
    </div>
<div class="bg-gradient-to-b from-indigo-200 to-indigo-100 border-4 border-indigo-500 rounded-lg shadow-xl p-5 m-4"> 
        <div class="rounded-full p-5 bg-indigo-600 mb-2 text-center"><h3 class="font-bold text-xl md:text-3xl text-white">Dane PageSpeed Insights</h3></div>
        <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p><span class="font-bold">Meta viewport:</span> {{ audit2Data.data.data.viewport }}</p>
        </div>
        <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p><span class="font-bold">
            {% if audit2Data.data.dataPageSpeed.mobile <= 49 %}
                Strona wymaga poprawy na urządzeniach mobilnych.
            {% else %}
                Strona jest użyteczna na urządzeniach mobilnych.
            {% endif %}
            </p></span>
            <p><span class="font-bold">Prędkość ładowania mobile:</span> {{ audit2Data.data.dataPageSpeed.mobile }}</p>
        </div>
        <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p><span class="font-bold">
            {% if audit2Data.data.dataPageSpeed.desktop <= 49 %}
                Strona wymaga poprawy na komputerach stacjonarnych.
            {% else %}
                Strona jest użyteczna na komputerach stacjonarnych.
            {% endif %}
            </p></span>
            <p><span class="font-bold">Prędkość ładowania desktop:</span> {{ audit2Data.data.dataPageSpeed.desktop }}</p>
        </div>
        <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p><span class="font-bold">Core Web Vitals Mobile:</p>
                <ul>
                    <li>First Contentful Paint: {{ audit2Data.data.dataPageSpeed.metrics.mobile.firstContentfulPaint }}</li>
                    <li>Speed Index: {{ audit2Data.data.dataPageSpeed.metrics.mobile.speedIndex }}</li>
                    <li>Time to Interactive: {{ audit2Data.data.dataPageSpeed.metrics.mobile.timeToInteractive }}</li>
                    <li>First Meaningful Paint: {{ audit2Data.data.dataPageSpeed.metrics.mobile.firstMeaningfulPaint }}</li>
                </ul>
        </div>
        <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p><span class="font-bold">Core Web Vitals Desktop:</span></p>
                <ul>
                    <li>First Contentful Paint: {{ audit2Data.data.dataPageSpeed.metrics.desktop.firstContentfulPaint }}</li>
                    <li>Speed Index: {{ audit2Data.data.dataPageSpeed.metrics.desktop.speedIndex }}</li>
                    <li>Time to Interactive: {{ audit2Data.data.dataPageSpeed.metrics.desktop.timeToInteractive }}</li>
                    <li>First Meaningful Paint: {{ audit2Data.data.dataPageSpeed.metrics.desktop.firstMeaningfulPaint }}</li>
                </ul>
        </div>   
    </div>
<div class="bg-gradient-to-b from-indigo-200 to-indigo-100 border-4 border-indigo-500 rounded-lg shadow-xl p-5 m-4"> 
            <div class="rounded-full p-5 bg-indigo-600 mb-2 text-center"><h3 class="font-bold text-xl md:text-3xl text-white">Linkowanie</h3></div>
            <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p><span class="font-bold">Lista wewnętrznych linków:</span></p>
            <ul>
                {% for link in audit2Data.data.data.internalLinks %}
                    <li>{{ link }}</li>
                {% endfor %}
            </ul>
            </div>
            <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
                <p><span class="font-bold">Najdłuższy url:</span> {{ audit2Data.data.data.maxLenghtInlinks }} znaków</p>
            </div>
            <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
                <p><span class="font-bold">Linki przyjazne wyszukiwarce: </span>
                     {% if audit2Data.data.data.friendlyLinks %}
                        tak
                    {% else %}
                        nie</p>
                        <p><span class="font-bold">Lista nieprzyjaznych linków: </span>
                    <ul>
                        {% for link in audit2Data.data.data.friendlyLinks %}
                            <li>{{ link }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}</p> 
            </div>
            <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p><span class="font-bold">Lista linków wychodzących:</span></p>
            {% if audit2Data.data.data.outLinks == 'false' %}
                brak linków wychodzących
            {% else %}
            <ul>
                {% for link in audit2Data.data.data.outLinks %}
                    <li>{{ link.href }} {% if link.rel is not null %} Rel: {{link.rel}} {% endif %}</li>
                {% endfor %} 
            </ul>
            {% endif %}
            </div>
            <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
             <p><span class="font-bold">Kod Google Analytics: </span>
             {% if audit2Data.data.data.googleAnalytics == 'false' %}
                brak
            {% else %}
                jest
            <ul>
                {% for code in audit2Data.data.data.googleAnalytics %}
                    <li>{{ code }}</li>
                {% endfor %}
            </ul>
            {% endif %}</p>   
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
