{% extends 'base.html.twig' %}

{% block title %}Audyt dla {{ auditsData.domain }}{% endblock %}

{% block body %}
<div class="bg-gray-800 pt-3">
    <div class="rounded-tl-3xl bg-gradient-to-r from-blue-900 to-gray-800 p-4 shadow text-2xl text-white">
        <h3 class="font-bold pl-2">Audyt dla domeny: <a href="https://{{auditsData.domain}}">{{ auditsData.domain }}</a></h3>
    </div>
</div>

<div class="bg-gradient-to-b from-indigo-200 to-indigo-100 border-4 border-indigo-500 rounded-lg shadow-xl p-5 m-4">
            <div class="rounded-full p-5 bg-indigo-600 mb-2 text-center"><h3 class="font-bold text-xl md:text-3xl text-white">Dane podstawowe</h3></div>
        <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p> <span class="font-bold">Data wykonania audytu:</span> {{auditsData.data.data.auditDateTime}}</p>
        </div>
        <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p> <span class="font-bold">Favicon:</span> {{auditsData.data.data.favicon}}</p>
        </div>
        <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p> <span class="font-bold"> Adres IP serwera:</span> {{auditsData.data.data.ipAddress}}</p>
        </div>
        <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p> <span class="font-bold"> Przekierowanie IP serwera na domenę:</span> 
                {% if auditsData.data.data.ipRedirection == 'true' %}
                jest ustawione
                {% else %}
                nie jest ustawione
                {% endif %}</p>
        </div>
        <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p> <span class="font-bold"> Certyfikat SSL:</span> 
            {% if auditsData.data.data.sslCertificate == 'true' %}
                jest
            {% else %}
                brak
            {% endif %}</p>
        </div>
        <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p> <span class="font-bold"> Przekierowanie na https:</span> 
            {% if auditsData.data.data.httpsRedirection == 'true' %}
                jest ustawione
            {% else %}
                nie jest ustawione
            {% endif %}
            </p>
        </div>
        <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p> <span class="font-bold"> Przekierowanie WWW:</span> 
            {% if auditsData.data.data.wwwRedirection == 'true' %}
               <p>  www.{{ auditsData.data.data.domain }} => {{ auditsData.data.data.domain }}</p> 
            {% else %}
                <p>  {{ auditsData.data.data.domain }} => www.{{ auditsData.data.data.domain }}</p> 
            {% endif %}
            </p>
        </div>
        <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p> <span class="font-bold"> Przekierowanie index.html / index.php:</span> 
            {% if auditsData.data.data.indexesRedirection.indexPhpStatus == 'true' %}
               <p> {{ auditsData.data.data.domain }}/index.php => {{ auditsData.data.data.domain }}</p> 
            {% else %}
               <p> {{ auditsData.data.data.domain }}/index.php =/> {{ auditsData.data.data.domain }}</p> 
            {% endif %}
            {% if auditsData.data.data.indexesRedirection.indexHtmlStatus == 'true' %}
               <p> {{ auditsData.data.data.domain }}/index.html => {{ auditsData.data.data.domain }}</p> 
            {% else %}
                <p> {{ auditsData.data.data.domain }}/index.html =/> {{ auditsData.data.data.domain }}</p> 
            {% endif %}
            </p>
        </div>
</div>   
<div class="bg-gradient-to-b from-indigo-200 to-indigo-100 border-4 border-indigo-500 rounded-lg shadow-xl p-5 m-4">
<div class="rounded-full p-5 bg-indigo-600 mb-2 text-center"><h3 class="font-bold text-xl md:text-3xl text-white">Przystępność dla robotów</h3></div>    
        <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p> <span class="font-bold"> Plik robots.txt: </span>
            {% if auditsData.data.data.robotsTxt.exists == 'true' %}
                jest
            {% else %}
                brak
            {% endif %}</p>
            </div>
            <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p> <span class="font-bold"> Dyrektywa Sitemap: </span> {% if auditsData.data.data.robotsTxt.hasSitemapDirective == 'true' %}
                 jest
            {% else %}
                 brak
            {% endif %}</p>
            </div>
            <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p> <span class="font-bold"> Meta robots:</span> {{auditsData.data.data.robots}}</p>
            </div>
        <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p> <span class="font-bold"> Plik sitemap.xml: </span>
            {% if auditsData.data.data.sitemap == 'true' %}
                jest <a href="https://{{auditsData.data.data.domain}}/sitemap.xml" class="underline">link</a>
            {% else %}
                brak
            {% endif %}</p>
        </div>
</div>
    <div class="bg-gradient-to-b from-indigo-200 to-indigo-100 border-4 border-indigo-500 rounded-lg shadow-xl p-5 m-4">
     <div class="rounded-full p-5 bg-indigo-600 mb-2 text-center"><h3 class="font-bold text-xl md:text-3xl text-white">Metadane i treści:</h3></div>
            <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p> <span class="font-bold"> Tytuł strony:</span> {{auditsData.data.data.title}}</p>
            <p> <span class="font-bold"> Liczba znaków:</span> {{auditsData.data.data.title|length}}</p>
            </div>
            <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p> <span class="font-bold"> Opis strony:</span> {{auditsData.data.data.description}}</p>
            <p> <span class="font-bold"> Liczba znaków:</span> 
            {% if auditsData.data.data.description == "brak" %}
                0
            {% else %}
            {{auditsData.data.data.description|length}}
            {% endif %}</p>
            </div>
            <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p> <span class="font-bold"> Słowa kluczowe:</span> {{auditsData.data.data.keywords}}</p>
            </div>
            <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p> <span class="font-bold"> Liczba wystąpień nagłówków:</span></p>
            {% if auditsData.data.data.headerCounts == 'false'%}
                brak nagłówków na stronie
            {% else %}
            <ul>
                {% for tag, count in auditsData.data.data.headerCounts %}
                    <li>{{ tag }}: {{ count }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            </div>
            <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
                <p> <span class="font-bold"> Nagłówki unikatowe:</span> {% if auditsData.data.data.headersUnique == 'false' %} nie {% else %} tak {% endif %}</p>
            </div>
            <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p> <span class="font-bold"> Wszystkie nagłówki na stronie:</span></p>
            <p> <span class="font-bold"> Liczba wystąpień nagłówków:</span></p>
            {% if auditsData.data.data.headers == 'false'%}
                brak nagłówków na stronie
            {% else %}
            <ul>
                {% for header in auditsData.data.data.headers %}
                    <li>{{ header.tag }}: {{ header.text }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            </div>
    <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
        <p> <span class="font-bold"> Obrazy bez atrybutu alt:</span></p>
        <ul>
            {% for imageSrc in auditsData.data.data.missingAltImages %}
                <li>{{ imageSrc }}</li>
            {% endfor %}
        </ul> 
        </div>
        
    <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
        <p> <span class="font-bold"> Określenie języka strony:</span> {{ auditsData.data.data.lang }}</p>
        <p> <span class="font-bold"> Kodowanie strony:</span> {{ auditsData.data.data.charset }}</p>
    </div>
    <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
        <p> <span class="font-bold"> RDFa:</span> {{ auditsData.data.data.rdfa }}</p>
        <p> <span class="font-bold"> Mikrodane:</span> {{ auditsData.data.data.microdata }}</p>
    </div>
    <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
        <p> <span class="font-bold"> Obecność technologii flash:</span> {{auditsData.data.data.flash}}</p>
    </div>
    <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
        <p> <span class="font-bold"> Obecność iFrame:</span> {{auditsData.data.data.frame}}</p>
    </div>
    <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
        <p> <span class="font-bold"> Inline CSS:</span> {{auditsData.data.data.inlineCSS}}</p>
    </div>
</div>
    <div class="bg-gradient-to-b from-indigo-200 to-indigo-100 border-4 border-indigo-500 rounded-lg shadow-xl p-5 m-4">
        
        <div class="rounded-full p-5 bg-indigo-600 mb-2 text-center"><h3 class="font-bold text-3xl text-white">Dane PageSpeed Insights</h3></div>
        <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p> <span class="font-bold"> Meta viewport:</span> {{ auditsData.data.data.viewport }}</p>
        </div>
        <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p><span class="font-bold">
            {% if auditsData.data.dataPageSpeed.mobile <= 49 %}
                Strona wymaga poprawy na urządzeniach mobilnych.
            {% else %}
                Strona jest użyteczna na urządzeniach mobilnych.
            {% endif %}
            </p></span>
            <p> <span class="font-bold"> Prędkość ładowania mobile:</span> {{ auditsData.data.dataPageSpeed.mobile }}</p>
        </div>
        <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p> <span class="font-bold"> 
            {% if auditsData.data.dataPageSpeed.desktop <= 49 %}
                Strona wymaga poprawy na komputerach stacjonarnych.
            {% else %}
                Strona jest użyteczna na komputerach stacjonarnych.
            {% endif %}
            </p></span>
            <p> <span class="font-bold"> Prędkość ładowania desktop:</span> {{ auditsData.data.dataPageSpeed.desktop }}</p>
        </div>
        <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p> <span class="font-bold"> Core Web Vitals Mobile:</span></p>
                <ul>
                    <li>First Contentful Paint: {{ auditsData.data.dataPageSpeed.metrics.mobile.firstContentfulPaint }}</li>
                    <li>Speed Index: {{ auditsData.data.dataPageSpeed.metrics.mobile.speedIndex }}</li>
                    <li>Time to Interactive: {{ auditsData.data.dataPageSpeed.metrics.mobile.timeToInteractive }}</li>
                    <li>First Meaningful Paint: {{ auditsData.data.dataPageSpeed.metrics.mobile.firstMeaningfulPaint }}</li>
                </ul>
        </div>
        <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p> <span class="font-bold"> Core Web Vitals Desktop:</span></p>
                <ul>
                    <li>First Contentful Paint: {{ auditsData.data.dataPageSpeed.metrics.desktop.firstContentfulPaint }}</li>
                    <li>Speed Index: {{ auditsData.data.dataPageSpeed.metrics.desktop.speedIndex }}</li>
                    <li>Time to Interactive: {{ auditsData.data.dataPageSpeed.metrics.desktop.timeToInteractive }}</li>
                    <li>First Meaningful Paint: {{ auditsData.data.dataPageSpeed.metrics.desktop.firstMeaningfulPaint }}</li>
                </ul>
        </div>
        
    </div>
    <div class="bg-gradient-to-b from-indigo-200 to-indigo-100 border-4 border-indigo-500 rounded-lg shadow-xl p-5 m-4">
            <div class="rounded-full p-5 bg-indigo-600 mb-2 text-center"><h3 class="font-bold text-3xl text-white">Linkowanie</h3></div>
            <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p> <span class="font-bold"> Lista wewnętrznych linków:</span></p>
            <ul>
                {% for link in auditsData.data.data.internalLinks %}
                    <li>{{ link }}</li>
                {% endfor %}
            </ul>
            </div>
            <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
                <p> <span class="font-bold"> Najdłuższy url:</span> {{ auditsData.data.data.maxLenghtInlinks }} znaków</p>
            </div>
            <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
                <p> <span class="font-bold"> Linki przyjazne wyszukiwarce: </span>
                     {% if auditsData.data.data.friendlyLinks %}
                        tak
                    {% else %}
                        nie</p>
                        <p> <span class="font-bold"> Lista nieprzyjaznych linków:</span> 
                    <ul>
                        {% for link in auditsData.data.data.friendlyLinks %}
                            <li>{{ link }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}</p> 
            </div>
            <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
            <p> <span class="font-bold"> Lista linków wychodzących:</span></p>
            {% if auditsData.data.data.outLinks == 'false' %}
                brak linków wychodzących
            {% else %}
            <ul>
                {% for link in auditsData.data.data.outLinks %}
                    <li>{{ link.href }} {% if link.rel is not null %} Rel: {{link.rel}} {% endif %}</li>
                {% endfor %} 
            </ul>
            {% endif %}
            </div>
            <div class="mb-4 font-medium md:text-xl break-all border-b-2 border-indigo-500 py-2">
             <p> <span class="font-bold"> Kod Google Analytics:</span> 
             {% if auditsData.data.data.googleAnalytics == 'false' %}
                brak
            {% else %}
                jest
            <ul>
                {% for code in auditsData.data.data.googleAnalytics %}
                    <li>{{ code }}</li>
                {% endfor %}
            </ul>
            {% endif %}</p>   
            </div>
        </div>
    </div>
</div>
{% endblock %}
