{% extends 'base.html.twig' %}

{% block title %}Audyt dla {{ data.domain }}{% endblock %}

{% block body %}
<div class="bg-gray-800 pt-3">
    <div class="rounded-tl-3xl bg-gradient-to-r from-blue-900 to-gray-800 p-4 shadow text-2xl text-white">
        <h3 class="font-bold pl-2">Audyt dla domeny: <a href="https://{{data.domain}}">{{ data.domain }}</a></h3>
    </div>
</div>
<div class="m-4 text-lg font-sans font-medium">
    <div class="bg-cyan-100 mb-1 rounded p-2">
        <h3>Dane podstawowe:</h3>
        <div class="rounded border-2 border-red-900 pl-2 mb-10">
            <p>Favicon: {{data.favicon}}</p>
        </div>
        <div class="rounded border-2 border-red-900 pl-2 mb-10">
            <p>Adres IP serwera: {{data.ipAddress}}</p>
        </div>
        <div class="rounded border-2 border-red-900 pl-2 mb-10">
            <p>Przekierowanie IP serwera na domenę: 
                {% if data.ipRedirection == true %}
                jest ustawione
                {% else %}
                nie jest ustawione
                {% endif %}</p>
        </div>
        <div class="rounded border-2 border-red-900 pl-2 mb-10">
            <p>Certyfikat SSL: 
            {% if data.sslCertificate == true %}
                jest
            {% else %}
                brak
            {% endif %}</p>
        </div>
        <div class="rounded border-2 border-red-900 pl-2 mb-10">
            <p>Przekierowanie na https: 
            {% if data.httpsRedirection == true %}
                jest ustawione
            {% else %}
                nie jest ustawione
            {% endif %}
            </p>
        </div>
        <div class="rounded border-2 border-red-900 pl-2 mb-10">
            <p>Przekierowanie WWW: 
            {% if data.wwwRedirection == true %}
               <p>  www.{{ data.domain }} => {{ data.domain }}</p> 
            {% else %}
                <p> {{ data.domain }} => www.{{ data.domain }}</p> 
            {% endif %}
            </p>
        </div>
        <div class="rounded border-2 border-red-900 pl-2 mb-10">
            <p>Przekierowanie index.html / index.php: 
            {% if data.indexesRedirection.indexPhpStatus == true %}
               <p>{{ data.domain }}/index.php => {{ data.domain }}</p> 
            {% else %}
               <p>  {{ data.domain }}/index.php =/> {{ data.domain }}</p> 
            {% endif %}
            {% if data.indexesRedirection.indexHtmlStatus == true %}
               <p>  {{ data.domain }}/index.html => {{ data.domain }}</p> 
            {% else %}
                <p> {{ data.domain }}/index.html =/> {{ data.domain }}</p> 
            {% endif %}
            </p>
        </div>
        <div class="rounded border-2 border-red-900 pl-2 mb-10">
            <p>Przystępność dla robotów:</p>
            <p>Plik robots.txt: 
            {% if data.robotsTxt.exists == true %}
                jest
            {% else %}
                brak
            {% endif %}</p>
            <p>Dyrektywa Sitemap: {% if data.robotsTxt.hasSitemapDirective == true %}
                 jest
            {% else %}
                 brak
            {% endif %}</p>
            <p>Meta robots: {{data.robots}}</p>
        </div>
        <div class="rounded border-2 border-red-900 pl-2 mb-10">
            <p>Plik sitemap.xml: 
            {% if data.sitemap == true %}
                jest <a href="https://{{data.domain}}/sitemap.xml">link</a>
            {% else %}
                brak
            {% endif %}</p>
        </div>
    </div>
    <div class="bg-cyan-100 mb-1 rounded p-2">
            <h3>Metadane i treści:</h3>
            <div class="rounded border-2 border-red-900 pl-2 mb-10">
            <p>Tytuł strony: {{data.title}}</p>
            <p>Liczba znaków: {{data.title|length}}</p>
            </div>
            <div class="rounded border-2 border-red-900 pl-2 mb-10">
            <p>Opis strony: {{data.description}}</p>
            <p>Liczba znaków: 
            {% if data.description == "brak" %}
                0
            {% else %}
            {{data.description|length}}
            {% endif %}</p>
            </div>
            <div class="rounded border-2 border-red-900 pl-2 mb-10">
            <p>Słowa kluczowe: {{data.keywords}}</p>
            </div>
            <div class="rounded border-2 border-red-900 pl-2 mb-10">
            <p>Liczba wystąpień nagłówków:</p>
            {% if data.headerCounts == false %}
                brak nagłówków na stronie
            {% else %}
            <ul>
                {% for tag, count in data.headerCounts %}
                    <li>{{ tag }}: {{ count }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            </div>
            <div class="rounded border-2 border-red-900 pl-2 mb-10">
                <p>Nagłówki unikatowe: {% if data.headersUnique %} tak {% else %} nie {% endif %}</p>
            </div>
            <div class="rounded border-2 border-red-900 pl-2 mb-10">
            <p>Wszystkie nagłówki na stronie:</p>
            {% if data.headers = false %}
                brak nagłówków na stronie
            {% else %}
            <ul>
                {% for header in data.headers %}
                    <li>{{ header.tag }}: {{ header.text }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            </div>
    <div class="rounded border-2 border-red-900 pl-2 mb-10">
        <p>Obrazy bez atrybutu alt:</p>
        <ul>
            {% for imageSrc in data.missingAltImages %}
                <li>{{ imageSrc }}</li>
            {% endfor %}
        </ul>
        </div>
        
    <div class="rounded border-2 border-red-900 pl-2 mb-10">
        <p>Określenie języka strony: {{ data.lang }}</p>
        <p>Kodowanie strony: {{ data.charset }}</p>
    </div>
    <div class="rounded border-2 border-red-900 pl-2 mb-10">
        <p>RDFa: {{ data.rdfa }}</p>
        <p>Mikrodane: {{ data.microdata }}</p>
    </div>
    <div class="rounded border-2 border-red-900 pl-2 mb-10">
        <p>Obecność technologii flash: {{data.flash}}</p>
    </div>
    <div class="rounded border-2 border-red-900 pl-2 mb-10">
        <p>Obecność iFrame: {{data.frame}}</p>
    </div>
    <div class="rounded border-2 border-red-900 pl-2 mb-10">
        <p>Inline CSS: {{data.inlineCSS}}</p>
    </div>
    </div>
    <div class="bg-cyan-100 mb-1 rounded p-2">
        <h3>Dane PageSpeed Insights</h3>
        <div class="rounded border-2 border-red-900 pl-2 mb-10">
            <p>Meta viewport: {{ data.viewport }}</p>
        </div>
        <div class="rounded border-2 border-red-900 pl-2 mb-10">
            <p>
            {% if dataPageSpeed.mobile <= 49 %}
                Strona wymaga poprawy na urządzeniach mobilnych.
            {% else %}
                Strona jest użyteczna na urządzeniach mobilnych.
            {% endif %}
            </p>
            <p>Prędkość ładowania mobile: {{ dataPageSpeed.mobile }}</p>
        </div>
        <div class="rounded border-2 border-red-900 pl-2 mb-10">
            <p>
            {% if dataPageSpeed.desktop <= 49 %}
                Strona wymaga poprawy na komputerach stacjonarnych.
            {% else %}
                Strona jest użyteczna na komputerach stacjonarnych.
            {% endif %}
            </p>
            <p>Prędkość ładowania desktop: {{ dataPageSpeed.desktop }}</p>
        </div>
        <div class="rounded border-2 border-red-900 pl-2 mb-10">
            <p>Core Web Vitals Mobile:</p>
                <ul>
                    <li>First Contentful Paint: {{ dataPageSpeed.metrics.mobile.firstContentfulPaint }}</li>
                    <li>Speed Index: {{ dataPageSpeed.metrics.mobile.speedIndex }}</li>
                    <li>Time to Interactive: {{ dataPageSpeed.metrics.mobile.timeToInteractive }}</li>
                    <li>First Meaningful Paint: {{ dataPageSpeed.metrics.mobile.firstMeaningfulPaint }}</li>
                </ul>
        </div>
        <div class="rounded border-2 border-red-900 pl-2 mb-10">
            <p>Core Web Vitals Desktop:</p>
                <ul>
                    <li>First Contentful Paint: {{ dataPageSpeed.metrics.desktop.firstContentfulPaint }}</li>
                    <li>Speed Index: {{ dataPageSpeed.metrics.desktop.speedIndex }}</li>
                    <li>Time to Interactive: {{ dataPageSpeed.metrics.desktop.timeToInteractive }}</li>
                    <li>First Meaningful Paint: {{ dataPageSpeed.metrics.desktop.firstMeaningfulPaint }}</li>
                </ul>
        </div>
        <div class="bg-cyan-100 mb-1 rounded p-2">
            <h3>Linkowanie:</h3>
            <div class="rounded border-2 border-red-900 pl-2 mb-10">
            <p>Lista wewnętrznych linków:</p>
            <ul>
                {% for link in data.internalLinks %}
                    <li>{{ link }}</li>
                {% endfor %}
            </ul>
            </div>
            <div class="rounded border-2 border-red-900 pl-2 mb-10">
                <p>Najdłuższy url: {{ data.maxLenghtInlinks }} znaków</p>
            </div>
            <div class="rounded border-2 border-red-900 pl-2 mb-10">
                <p>Linki przyjazne wyszukiwarce: 
                    {% if data.friendlyLinks == false %}
                        tak
                    {% else %}
                        nie</p>
                        <p>Lista nieprzyjaznych linków: 
                    <ul>
                        {% for link in data.friendlyLinks %}
                            <li>{{ link }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}</p>
            </div>
            <div class="rounded border-2 border-red-900 pl-2 mb-10">
            <p>Lista linków wychodzących:</p>
            <ul>
                {% for link in data.outLinks %}
                    <li>{{ link.href }} {% if link.rel is not null %} Rel: {{link.rel}} {% endif %}</li>
                {% endfor %}
            </ul>
            </div>
            <div class="rounded border-2 border-red-900 pl-2 mb-10">
            <p>Kod Google Analytics: 
            {% if data.googleAnalytics %}
                jest
            <ul>
                {% for code in data.googleAnalytics %}
                    <li>{{ code }}</li>
                {% endfor %}
            </ul>
            {% else %}
                brak
            {% endif %}</p>
            </div>
        </div>
    </div>
        <div class="bg-cyan-100 mb-1 rounded p-2">
            <h3>Zapisz audyt:</h3>
            <button id="saveAuditButton" class="btn btn-primary">Zapisz</button>
            <div id="saveAuditMessage" style="display: none;"></div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#saveAuditButton').click(function () {
            var auditData = {{ data | json_encode | raw }};
            var auditDataPageSpeed = {{ dataPageSpeed | json_encode | raw }};
            var uid = '{{ uid }}';

            $.ajax({
                url: '{{ path('app_save', {'domain': data.domain, 'uid': uid}) }}',
                type: 'POST',
                data: {
                    data: auditData,
                    dataPageSpeed: auditDataPageSpeed
                },
                success: function (response) {
                    $('#saveAuditMessage').text('Pomyślnie zapisano audyt').removeClass('text-red-500').addClass('text-green-500').show();
                    console.log(response);
                },
                error: function (error) {
                    $('#saveAuditMessage').text('Wystąpił błąd zapisu audytu').removeClass('text-green-500').addClass('text-red-500').show();
                    console.log(error);
                }
            });
        });
    });
</script>
{% endblock %}
